* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* Figma Primary Colors */
  --primary-blue: #001f8b;        /* Dark blue for headers and buttons */
  --sidebar-bg: #ffffff;          /* Pure white sidebar */
  --home-content-bg: #dae5ff;     /* Light blue tint for Home page */
  --selection-highlight: #2f2f2f2b; /* Grey selection for sidebar list */
  
  /* Sidebar Group Circle Colors */
  --notes-color-1: #b38bfa;
  --notes-color-2: #ff79f2;
  --notes-color-3: #43e6fc;
  --notes-color-4: #f19576;
  --notes-color-5: #0047ff;
  --notes-color-6: #6691ff;
}

body {
  background-color: var(--sidebar-bg); /* */
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}